Those as follow are good references for learning database/python interfaces. <br />
https://www.datacamp.com/community/tutorials/mysql-python <br />
https://www.techonthenet.com/mariadb/

In [3]:
import pandas
import mariadb
import sys
import numpy as np

In [4]:
# connect to mariadb server, it is optional to set up db. One can 
# create new one or modify existing one. 
# using the command of "mysql -u root -p -h localhost" to log in mariadb in your terminal

try:
    conn = mariadb.connect(
        host="localhost",
        user="root", 
        passwd="56691003")
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
    
# create interface between python and mariadb server using cursor

cur = conn.cursor()


# after the connection, we can use python code to constrct or modify maria databases
# by usnig .execute()
# One can refer to https://www.techonthenet.com/mariadb/index.php for sql commands.
# Using the command of "show databases; " to check the existence of databases. 
# Please do not forget the ';'.

cur.execute("create database if not exists test_db \
             character set = 'utf8mb4' \
             collate = 'utf8mb4_general_ci'")

#import csv files using pandas

df = pandas.read_csv("extracted_geoinfo.csv", sep=',', index_col = 0) 
df.drop('crawl_result', axis=1, inplace=True)
df['ave_price'].replace(np.nan, 0, inplace=True)

# create table in your db, for example test_db in this case
# using the commands of "use database_name; (you need to specifiy the name)" to log in the database.
# then, using the command of "describe table_name" to see tables in the related database


table_name = 'test_db.test_table'
cur.execute("create or replace table test_db.test_table \
            (empty_var text not null);") 

# create column in table, namely test_table here
cur.execute("alter table test_db.test_table \
                add name text not null, \
                add rating float not null,\
                add ave_price float not null,\
                add address text not null,\
                add url text not null,\
                add tel text not null,\
                add lat_lng text not null,\
                add place_id text not null;")


    
cur.execute(f'alter table {table_name} drop column empty_var')
# add data into corresponding columns in the created table

row_num = df.shape[0]
table_name = 'test_db.test_table'

for n in range(row_num):
    lst = list(df.iloc[n,:].astype('str'))
    lst = ['\"' + n + '\"' for n in lst]
    
    cur.execute("insert into {table_name} ({columns})values ({values})".format(
                table_name = table_name, 
                columns = ', '.join(list(df.columns)),  
                values = ', '.join(lst)))

# finally using the commend of select * from table_name to see your input data, 
# after successfully executing conn.commit()
conn.commit()


cur.close()

In [ ]:
cur.close()

In [ ]:
df = pandas.read_csv("extracted_geoinfo.csv", sep=',', index_col = 0)

In [ ]:
import json
def extract_lat(string):
    dct = json.loads(string.replace("\'", '\"'))
    lat = dct['candidates'][0]['geometry']['location']['lat']
    return lat

def extract_lng(string):
    dct = json.loads(string.replace("\'", '\"'))
    lng = dct['candidates'][0]['geometry']['location']['lng']
    return lng

In [ ]:
try:
    conn = mariadb.connect(
        host="localhost",
        user="root", 
        passwd="56691003")
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

    
cur = conn.cursor()

In [ ]:
cur.execute('use test_db;')

In [ ]:
cur.execute('select lat, lng from test_table')
min([(haversine.haversine((lat, lng), user), lat, lng) for lat, lng in cur])

In [ ]:
import haversine

In [ ]:
"insert into {table_name} ({columns})values ({values})".format(
                table_name = table_name, 
                columns = ', '.join(list(df.columns)),  
                values = ', '.join(lst))

In [ ]:
df = pandas.read_csv('extracted_geoinfo.csv', index_col=0)
df['crawl_result'] = df['crawl_result'].apply(add_sign)

In [ ]:
print(df['crawl_result'].iloc[1])

In [ ]:
def add_sign(string):
    string = "\'"+string+"\'"
    return string

In [ ]:
add_sign('x')

In [ ]:
df.drop('crawl_result', axis=1, inplace=True)

In [13]:
import numpy as np
df['ave_price'].replace(np.nan, 0, inplace=True)

In [14]:
df['ave_price']

0       300.0
1      1500.0
2       230.0
3      1500.0
4       600.0
5      1000.0
6      1200.0
7       800.0
8      1000.0
9       268.0
10      500.0
11     1200.0
12     1800.0
13      150.0
14      330.0
15     1500.0
16      300.0
17      800.0
18      150.0
19      250.0
20      300.0
21      600.0
22     1000.0
23      500.0
24      500.0
25     1200.0
26     1210.0
27      300.0
28      300.0
29      600.0
        ...
352     800.0
353     500.0
354    1200.0
355     250.0
356     600.0
357     350.0
358     600.0
359    1200.0
360     600.0
361     150.0
362     150.0
363     500.0
364    1000.0
365     250.0
366     500.0
367    1000.0
368     700.0
369     120.0
370     600.0
371     600.0
372     300.0
373     600.0
374     600.0
375     600.0
376    1200.0
377     600.0
378     600.0
379    1200.0
380     600.0
381    1200.0
Name: ave_price, Length: 382, dtype: float64